<%= for post <- @posts do %>
  <section class="flex-1 px-4 py-4">
    <div class="flex space-x-2">
      <%= for tag <- post.tags do %>
        <div class="hover:underline">#<%= tag %></div>
      <% end %>
    </div>
    <h2><%= post.title %></h2>
    <p><%= post.description %></p>
  </section>
<% end %>

